doctype html
html
    head
        title articleKB
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='/') Knowledgebase
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarsExampleDefault.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='/')
                                | 主页
                        if user
                            li.nav-item
                                a.nav-link(href='/articles/add') 添加文章
                    ul.nav.navbar-nav
                        if user
                            li.nav-item
                                a.btn.btn-outline-danger.mr-2(href='/users/logout') 退出
                        else
                            li.nav-item
                                a.btn.btn-success.mr-4(href='/users/register') 注册
                            li.nav-item
                                a.btn.btn-outline-primary(href='/users/login') 登录
        .container
            != messages('message', locals)
            if errors
               each error, i in errors
                div(class="alert alert-danger") #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2018
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')
